# TEMPLATE FILE: Copy this to application.yaml and provide your own values
spring:
  application:
    name: Sentry
  datasource:
    url: jdbc:postgresql://your-db-url-here:6543/postgres?prepareThreshold=0
    username: your-username-here
    password: ${SENTRY_DB_PASSWORD} # Set this as a user environment variable
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true